.box-set,
.box {
  border-radius: 6px;
}
.box-set {
  position: relative;
}
.box {
  background-color: rgba(255, 255, 255, 0.0);
  height: 150px;
  position: absolute; 
  text-align: center;
  width: 200px;
}
.box-1 {
  border: 2px solid #339966;
  top: 50px;
  width: 250px;
  left: -360px;
  font-size: 100%;
  font-weight: bold;
}
.box-2 {
  border: 2px solid #336699;
  top: 50px;
  width: 250px;
  left: -100px;
  font-size: 100%;
  font-weight: bold;
}
.box-3 {
  border: 2px solid #6600cc;
  top: 50px;
  left: 160px;
  width: 500px;
  font-size: 100%;
  font-weight: bold;
}
.box-4 {
  border: 2px solid #6600cc;
  top: 280px;
  left: 250px;
  width: 380px;
  font-size: 100%;
  font-weight: bold;
  height: 220px;
}
.box-5 {
  background-color: rgba(255, 255, 255, 0.7);
  top: 250px;
  left: -380px;
  width: 600px;
  font-size: 100%;
  font-weight: bold;
  height: 300px;
}

.eqn_border1 {
  border: 2px solid #FFFFFF;
  width: 90%;
  min-width: 300px;
} 
.eqn_border2 {
  border: 2px solid black;
  width: 100%;
} 
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    right: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}



